@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
}

/* BODY */
html, body {
    height: 100%;
    overflow: hidden; 
}

body {
    background: linear-gradient(135deg, rgb(1, 13, 31) 25%, rgb(1, 20, 48) 50%, black 75%);
    background-size: 200% 200%;
    animation: backgroundAnimation 10s ease infinite;
    display: flex;
    flex-direction: column;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* Responsividade */
@media screen and (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }
    
    .navbar a {
      padding: 5px;
      flex: 1;
      text-align: center;
    }

    .titulo-curriculo h2{
        display: none;
    }
  }  
/*Responsividade*/



/* HEADER */
.header {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* NAVBAR */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(1, 13, 31) 25%, rgb(1, 20, 48) 50%, rgb(0, 0, 0) 200%);
    background-size: 200% 200%;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    border-radius: 5px;
    transform: scale(1.08);
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: auto; 
}

/* SOBRE-MIM */
.sobre-mim {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.sb-mim {
    max-width: 800px;
}

.sb-mim h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.sb-mim p {
    color: white;
    text-align: justify;
    font-size: 18px;
}

/* SOBRE-MIM */



/* CURRÍCULO */
.curriculo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.curriculo h5{
    color: white;
}

.titulo-curriculo {
    max-width: 800px;
}

.titulo-curriculo h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.titulo-curriculo p {
    color: white;
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
}

.certificacao{
    margin-top: 60px;
}

.linux img{
    border-radius: 10px;
}

/* CURRÍCULO */



/*FOOTER*/
/*SOCIAL-ICONS*/
.social-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-icon{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.2s;
    margin: 0 10px;
}

.social-icon:hover{
    color: #7e7d7d;
}

/*SOCIAL-ICONS*/
/*FOOTER*/